{% extends 'FootyDemo/footy_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section >
    <div class="flex-container" id="jerseyCollectionPage">
        <table class="table-striped">
            <tr>
                <th class="col-md">Team Name</th>
                <th class="col-md">Country</th>
                <th class="col-md">Manufacturer</th>
                <th class="col-md">Size</th>
                <th class="col-md">Year</th>
                <th class="col-md">Primary Color</th>
                <th class="col-md">Authentic</th>
                <th class="col-md">&nbsp;Info</th>
            </tr>
            {% for jersey in jerseys %}     <!-- creates a new row for each jersey in the collection -->
                <tr>
                    <td class="col-md">{{jersey.team}}</td>
                    <td class="col-md">{{jersey.country}}</td>
                    <td class="col-md">{{jersey.manufacturer}}</td>
                    <td class="col-md">{{jersey.size}}</td>
                    <td class="col-md">{{jersey.year}}</td>
                    <td class="col-md">{{jersey.primary_color}}</td>
                    <td class="col-md">
                        {% if jersey.authentic %} &#8730 {% endif %}
                    </td>
                    <td class="col-md"><a href="{{jersey.pk}}/Details"><button class="details-btn">Details</button></a></td>    <!-- creates a link for that specific jersey -->
                </tr>
            {% endfor %}
        </table>
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'createJersey' %}'">Add to Collection</button>
    </div>
</section>
{% endblock %}
