{% extends 'FootyDemo/footy_base.html' %}
{% load staticfiles
{% block templatecontent %}
    <div class="flex-container footy">
        <table>
            <tr>
                <th>Date Played ({{local_tz}})</th>
                <th>Home Team</th>
                <th colspan="2">Score</th>
                <th>Away Team</th>
            </tr>
            {% for game in matches %}
                <tr>
                    <td>
                        {{game.date|date:"d-m-y"}} {{game.date|time:"h:i a"}} <!-- uses built in filtering to display datetime -->
                    </td>
                    <td>
                        &nbsp&nbsp
                        {% if game.winner == "HOME_TEAM" %}
                            <i class="fas fa-trophy"></i>
                        {% else %}
                            &nbsp&nbsp&nbsp&nbsp <!-- use blank spaces to account for space of the icon -->
                        {% endif %}
                        {{game.home_team}}
                    </td>
                    <td>
                        {{game.score_home}}
                    </td>
                    <td>
                        {{game.score_away}}
                    </td>
                    <td>
                        {{game.away_team}}
                        {% if game.winner == "AWAY_TEAM" %}
                            <i class="fas fa-trophy"></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}