{% extends 'FootyDemo/footy_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="flex-container wrapper news">
        {% for article in articles%} <!-- Iterates through the array of articles -->
            <!-- Creates a new line for each item, sets the href to the full url, gives the article title and date -->
            <p><a href="{{article.url}}">{{article.title}}</a> <span>{{article.date}}</span></p>
        {% endfor %}
    </div>
</section>
{% endblock %}